@import "tailwindcss";
@import "tw-animate-css";

:root {
  --harvest-gold: #b4740c;
  --harvest-gold-hover: #d89523;
  --rich-black: #101828;
  --header-black: #1c1917;
  --modern-green: #2f5233;
  --modern-black: #101820;
  --pale-green: #006a5a;
  --pale-blue: #005a64;
  --mid-blue: #2f4858;
  --text-gray: #57534e;
  --section-title: #78716c;
}

.animate__animated.animate__bounceInDown {
  --animate-duration: 1.5s;
}

body {
  font-family: var(--font-roboto), system-ui, sans-serif;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
