@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --harvest-gold: #b4740c;
  --harvest-gold-hover: #d89523;
  --rich-black: #101828;
  --modern-green: #2c6e49;
  --modern-black: #101820;
}

.animate__animated.animate__bounceInDown {
  --animate-duration: 1.5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
